.nomargin {
	margin: 0;
}

.coachListContainer{
	height: 600px;
	overflow:auto;
}
.coachListContent{
	overflow: auto;
}

.colorLegend {
	width: '1em', 
	height: '1em', 
	float: 'left', 
	marginLeft: '10px', 
	marginRight: '10px'
}

.coachImage {
	max-width: 200px;
}