.nomargin {
	margin: 0;
}

.coachList ul{
	padding-left: 0;
}

.coachList li {
	list-style-type: none;
}

.colorLegend {
	width: '1em', 
	height: '1em', 
	float: 'left', 
	marginLeft: '10px', 
	marginRight: '10px'
}